#root {
  max-width: 1480px;
  margin: 0 auto;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.form-elements{
  text-align: left;
  margin: auto;
}

.entry-container {
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
}

/*-----Login-------------------------------------*/

.main-container {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.title-container {
  display: flex;
  flex-direction: column;
  font-size: 64px;
  font-weight: bolder;
  color: cornflowerblue;
  align-items: center;
  justify-content: center;
}

.login-title {
  margin: 0;
}

.result-container,
.history-item {
  flex-direction: row;
  display: flex;
  width: 400px;
  align-items: center;
  justify-content: space-between;
}

.history-container {
  flex-direction: column;
  display: flex;
  height: 200px;
  align-items: center;
  flex-grow: 5;
  justify-content: flex-start;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 260px; */
}

.input-container {
  display: flex;
  flex-direction: column;
}

.input-container > .errorLabel {
  color: red;
  font-size: 12px;
}

.input-box {
  width: 400px;
  font-size: large;
  border-radius: 4px;
  border: 1px solid grey;
  padding: 1rem .5rem
}

.outer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: max-content;
  min-height: 75vh;
}

